html{
    font-family: 'Roboto', sans-serif;
    --base-oscuro: #2b2b2b;
    --base-claro: #e0e0e0;
    --enfacis: #2D87F0;
    --contraste: #ffffff;
}

.bg-pale{
    background-color: var(--contraste);
}

.row{
    justify-content: space-around;
}

h1{
    display: inline;
}
h2{
    display: inline;
}

.pd20{
    padding: 20px;
}

.al-ri{
    justify-content: start;
}

/* header ---------------------------------- */

.header__logo {
    display: flex;   
    justify-content: space-between; 
    background-color: var(--base-oscuro);
    height: 100px;
    padding: 0;
    width: 220px;
}

.header__img{
    display: inline;
    width: 150px;
}

.header__contenedorLogo{
    width: 300px;
}

.hamburguesa{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--contraste);
}

.hamburguesa:hover{
    background-color: var(--enfacis);
    color: var(--base-oscuro);
}

.sobrePanel{
    background-color: var(--contraste);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding-left: 20px;
}
.saludo{
    color: var(--base-oscuro);
    text-align: center;
    font-size: 1em;
    float: left;
    font-size: 1.5em;
    font-weight: 800;
    width: auto;
}

.usuario{
    width: 200px;
}

.sobrePanel ul{
    list-style: none;
    text-align: right ;
}

.sobrePanel li {
    background-color: var(--contraste);
    display: inline;
    margin-right: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em ;
  }


/* Nav ---------------------------------- */

.navMobile{
    display: flex;
    justify-content: end;
    text-align: right;
}

.navDesktop{
    width: 220px;
    background-color: var(--base-oscuro);
}

.nav__list{
    list-style: none;
    line-height: 2.5em;
    color: var(--contraste);
    padding: 0;
}

.nav__icon{
    margin: 0 18px;
    align-self: center;
    width: 1em;
}

.nav__link{
    color: var(--base-claro);
    text-decoration: none;
}

.navDesktop a:hover{
    color: var(--enfacis)
}

.nav__subitems{
    font-size: 12px;
    margin-left: 1.2em;
}

/* main ---------------------------------- */

.avisador h2{
    padding: 0%;
    margin: 0%;
}

.carousel-item{
    padding: 20px;
}

.carousel-item img{
    height: 15em;
    padding: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);   
}

/* Estilos de las tarjetas ---------------------------------------- */

.tarjetero{
    background-color: var(--base-claro);
    overflow: hidden;
    justify-content: start;
}

.tarjeta{
    position: relative;
    display:inline-block;
    background-color: var(--contraste);
    width: 300px;
    height: 200px;
    padding: 1.5em;
    border-radius: 20px;
    margin: 1em;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.tarjeta .encabezado{    
    padding: 0 0 0.5em 0;
}

.tarjeta h1 {
    font-size: 1.2em;
}

.tarjeta small{
    font-size: 0.8em;
}

.tarjeta p{
    padding-bottom: 2em;
    font-size: 0.9em;
    height: 3em;
    overflow: hidden;
    margin-bottom: 1em;
}

.icono {
    background-color: var(--base-claro);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    line-height: 70px;
    height: 3em;
    margin-right: 1em;
    border-radius: 10px;
    text-align: center;
}

.sc img{
    filter: blur(0.25em) grayscale(100%);
    width: 35px
}

.ejec img{
    width: 35px
}

.ejecucion{
    position: absolute;
    left: 25px;
    top: 160px;
    color: var(--contraste);
    background-color: var(--enfacis);
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    float: left;
    border-radius: 0.5em;
    margin: 0;
    text-align: center;
}

.sinComenzar{
    position: absolute;
    left: 25px;
    top: 160px;
    color: var(--base-oscuro);
    background-color: var(--base-claro);
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    float: left;
    border-radius: 0.5em;
    margin: 0;
}

.sc i{
    position: absolute;
    left: 200px;
    top: 160px;
}

.ejec .botones{
    position: absolute;
    left: 200px;
    top: 162px;
}

/* Elementos sin comenzar  */
.sc i{
    text-align: right;
    color: var(--base-oscuro);
    font-size: 4em;
    float: right;
    margin-bottom: 0.5em; 
    margin-top: -0.5em; 
}

.sc i:hover{
    color: var(--enfacis);
}

.sc h1{
    color: var(--base-claro);
}

.sc p{
    color: var(--base-claro);
}

.tarjeta a{
    text-decoration: none;
    color: black;
}

/* Elementos Ejecución */
.ejec i{
    text-align: right;
    color: var(--base-oscuro);
    font-size: 1.5em;
    float: right;
    margin-right: 0.5em ;
}

.ejec i:hover{
    color: var(--enfacis);
}

/* Estilos vista de proyectos ---------------------------------------- */

.obra{
    background-color: var(--base-oscuro);
    background-image: url('media/avisaroback.jpg');
    background-repeat: no-repeat;
    background-size: 50em ;
    color: var(--contraste);    
    width: 34em;
    height: 10em;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 1em;
}

.obra h2{
    margin: 0;
}

.tabla { 
    background-color: var(--contraste);
    width: auto;
    height: auto;
    padding: 2em;
    border-radius: 20px;
    margin: 1em;
    float: left;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.tabla table{
    text-align: center;
    width: 100%;
    font-size: 0.8em;
}

.tabla td {
    border-bottom: solid 1px var(--base-oscuro);
    padding: 0.8em;    
}

.centrado{
    text-align: center;
}

.a-izquierda{
    text-align: left;
}

/* Estilos vista de documentos ---------------------------------------- */

.documento{
    background-color: var(--base-oscuro);
    background-image: url('../media/docs.jpg');
    background-repeat: no-repeat;
    background-size: 30em ;
    color: var(--contraste);    
    width: 25em;
    height: 15em;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 1em;
    position: relative;
    overflow: hidden;
}

.documento h2{
    margin: 0;
}

.datosDoc { 
    overflow: scroll;
    background-color: var(--contraste);    
    height: 30em;
    width: 52em;
    padding: 2em;
    border-radius: 20px;
    margin: 1em;
    float: left;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);       
}

.informe .tabla{    
    position: relative;
    width: 25em;
    height: 15em;
    padding-top: 1em;
    padding-bottom: 3em;    
}

.informe .tabla td{
    padding: 0.1em;
}

.informe .botones{
    position: absolute;
    right: 25px;
    bottom: 20px;
    font-size: 30px;
}

.informe a{
    color: var(--base-oscuro);    
}

.informe a:hover{
    color: var(--enfacis);
}

.estado{ 
    position: absolute;
    right: -50px;
    top: 20px;
    color: var(--contraste);
    background-color: var(--enfacis);
    font-size: 0.7em;
    font-weight: 400;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
    margin: 0.2em;
    text-align: center;
    width: 15em;
    transform: rotate(45deg)
}

.documento .botones{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 30px;
}

.documento .botones a{
    color: var(--contraste);
}

.documento .botones a:hover{
    color: var(--enfacis);
}

/* Footer ---------------------------------- */
footer .row {
    text-align: center;
}

/* Medias queris ----------------------------------------- */

/* Media para mobile */
@media (max-width: 860px){
    .navDesktop{
        display: none;
    }
    .tarjetero{
        justify-content: center;
    }
    .informe{
        justify-content: center;
    }
    .header__logo {
        width: 100%;
    }
    .usuario{
        display: none;
    }
    .datosDoc{
        width: 90%;
    }
    .obra{
        width: 90%;
    }
    .tabla{
        justify-content: center;
    }
    .tabla__descripcion{
        display: none;
    }

}

/* Media para desktop */
@media (min-width: 860px){
    .navMobile{
        display: none;
    }
}